<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1><%= title %></h1>
  	<div id="feedback"></div>
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script>
		<script src="js/feedback-dash.js"></script>
  </body>
</html>